#### bla

*italic*


**bold**

## data processing & analysis les 1

# This is the notebook to be used for Lesson 1

bla bla bla, ik snap het

In [3]:
print("hello world")
a = 4

hello world

In [4]:
print(a)

4

In [5]:
a*2

8

In [ ]:
!pip install matplotlib

### Package loading

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from scipy import stats

In [42]:
DF = pd.DataFrame({'variabele1':[1,2,3],
             'variabele2': [5,6,7]})
DF

   variabele1  variabele2
0           1           5
1           2           6
2           3           7

In [44]:
DF['variabele1']

0    1
1    2
2    3
Name: variabele1, dtype: int64

### Lets get some data

In [46]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [48]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [52]:
type(iris)

pandas.core.frame.DataFrame

In [56]:
type(iris['sepal_length'])

pandas.core.series.Series

In [60]:
iris['sepal_length'].max()

7.9

In [62]:
iris.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [11]:
iris.to_csv("iris_data.csv", header=True, index=False)

In [12]:
iris.shape

(150, 5)

In [66]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [70]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [72]:
test = pd.read_csv("Data/iris_data.csv")
test.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [78]:
test.loc[1,"sepal_width"]

3.0

In [80]:
test2 = test[test['sepal_length']<5]
test2
test[2,"sepal_width"]

     sepal_length  sepal_width  petal_length  petal_width     species
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
6             4.6          3.4           1.4          0.3      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
22            4.6          3.6           1.0          0.2      setosa
24            4.8          3.4           1.9          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
45            4.8          3.0           1.4          0.3      setosa
47            4.6          3.2           1.4          0.2      setosa
57            4.9          2.4           3.3          1.0  versicolor
106           4.9          2.5           4.5          1.7   virginica

In [82]:
test2.iloc[1,1]

3.2

In [90]:
test2.loc[2,"sepal_width"]

3.2

In [98]:
test.loc[test['sepal_width']>4,["sepal_width", "sepal_length"]]

    sepal_width  sepal_length
15          4.4           5.7
32          4.1           5.2
33          4.2           5.5

# Selecting data

The difference between iloc and loc will cause you a great deal of pain in the beginning.

In [17]:
iris['sepal_width']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [102]:
iris['species'].unique()
iris['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [19]:
print(iris.iloc[0, 0])
print(iris.iloc[1, 1])
print(iris.iloc[0:1, 0:1])

5.1
3.0
   sepal_length
0           5.1

In [20]:
iris.shape

(150, 5)

In [21]:
iris.iloc[0:140,4]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
Name: species, Length: 140, dtype: object

# Part 1: Descriptive Statistics

## Descriptve statistics

In [136]:
iris[['sepal_length','sepal_width','petal_length','petal_width']].mean()
iris[['sepal_length','sepal_width','petal_length','petal_width']].median()
iris[['sepal_length','sepal_width','petal_length','petal_width']].std()
# correlations: give correlation neq causation

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

# Data Science (+ Machine learning)

In [106]:
X_test = iris.iloc[[5,6, 
                    75,76, 
                    105, 106], 0:4]
Y_test = iris.iloc[[5,6, 
                    75,76, 
                    105, 106], 4]
print(X_test)
print(Y_test)
X_test.shape

     sepal_length  sepal_width  petal_length  petal_width
5             5.4          3.9           1.7          0.4
6             4.6          3.4           1.4          0.3
75            6.6          3.0           4.4          1.4
76            6.8          2.8           4.8          1.4
105           7.6          3.0           6.6          2.1
106           4.9          2.5           4.5          1.7
5          setosa
6          setosa
75     versicolor
76     versicolor
105     virginica
106     virginica
Name: species, dtype: object

(6, 4)

In [108]:
#df.drop(df.index[[2,3]])
iris_train = iris.drop(iris.index[[5,6, 
                    75,76, 
                    105, 106]] )

X_train = iris_train.iloc[:, 0:4]
Y_train = iris_train.iloc[:, 4]

X_train.shape

(144, 4)

In [110]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(multi_class='ovr') #(solver='liblinear', multi_class='ovr')

model.fit(X_train, Y_train)
predictions = model.predict(X_test)

result = pd.DataFrame({'predictions':predictions,'truth': Y_test})
print(result)

    predictions       truth
5        setosa      setosa
6        setosa      setosa
75   versicolor  versicolor
76   versicolor  versicolor
105   virginica   virginica
106  versicolor   virginica

/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:1256: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. Use OneVsRestClassifier(LogisticRegression(..)) instead. Leave it to its default value to avoid this warning.
  warnings.warn(

In [ ]:
a = "mijn mama"

In [116]:
X_train.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')

In [130]:
model.predict(pd.DataFrame({'sepal_length':[3],
                            'sepal_width':[4],
                            'petal_length':[3],
                            'petal_width':[1]}))

array(['setosa'], dtype=object)